form {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

input {
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.25s ease;
}

button:hover {
  border-color: var(--button-hover-border-color);
  color: var(--button-hover-text-color);
}

@media (max-width: 768px) {
  input {
    width: 200px;
  }
}
