:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #2ecc71;
  --hover-color: #27ae60;
  --text-color: #333333;
  --background-color: #f5f5f5;
  --button-background-color: rgba(46, 204, 113, 0.1);
  --button-border-color: #2ecc71;
  --button-hover-border-color: #27ae60;
  --button-text-color: #2ecc71;
  --button-hover-text-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  justify-content: flex-start;
  padding: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color);
  margin-bottom: 20px;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: border-color 0.25s, color 0.25s;
  padding: 10px 20px;
  margin-left: 5px;
}

button:hover {
  border-color: var(--button-hover-border-color);
  color: var(--button-hover-text-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
